p {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.col-sm {
    padding: 10px;
}

.row {
    border-bottom: groove 1px;
}

.head {
    margin-bottom: 40px;
    padding-top: 100px;
}